body {
  background-color: #c2d7f3;
  font-family: "Silkscreen", cursive;
  font-weight: 600;
}

#board, .boardInfo {
  margin: auto;
  max-width: 500px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: solid 20px #b3bce6;
  border-radius: 1rem;
}

#start, .boardInfo {
  font-size: 2rem;
  font-family: "Silkscreen", cursive;
  color: #c2d7f3;
}

#gameOver {
  display: none;
  margin: auto;
}

.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: #9ab697;
  align-items: center;
}

#start {
  background-color: #da8686;
  border: none;
  padding: 0.25em;
  border-radius: 1rem;
}

#scoreBoard {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #c2d7f3;
}

.snakeSquare {
  background-color: #9ab697;
}

.foodSquare {
  background-color: #da8686;
  border-radius: 2rem;
}

h1 {
  text-align: center;
  color: #9ab697;
}